img {
    width: 100%;
}

/* HEADER  */
header {
    height: 80px;
    background-color: #2C3E50;
    color: white;
}

.ms_menu li {
    list-style-type: none;
    margin-left: 1rem;
}

/* MAIN  */
/* Section Jumbo */
.ms_jumbo {
    height: 350px;
    width: 100%;
    background-color: #1ABC9C;
}

/* Section-portfolio */
.portfolio {
    /* debug */
    background-color: lightblue;
}

/* Section about */
.about {
    background-color: #1ABC9C;
}

/* Section contact me  */
